/*below code aligns the side bar */
.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

/*this gives the grey background effect if we hover over it*/
.sidebarRow:hover {
  background-color: lightgray;
  border-radius: 10px;
}

.sidebarRow > h4 {
  margin-left: 20px;
  font-weight: 600;
}

/*changing size of icons to extra extra large*/
.sidebarRow > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #2e81f4;
}
